 
 /* CSS for body */
 body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
/* CSS for the navbar */
.navbar {
    background-color: #000000; /* Warna latar belakang navbar: hitam */
}

.navbar-brand {
    color: #ffffff; /* Warna teks navbar: putih */
}

.navbar-nav .nav-link {
    color: #ffffff; /* Warna teks link navbar: putih */
}


/* CSS for header */
h2 {
    text-align: center;
    margin-top: 20px;
}

/* CSS for search input */
#search {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}


/* CSS for footer */
footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* CSS for table */
table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

/* CSS for table buttons */
button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 12px;
    margin-right: 5px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}